IMAP_HOST=c1362346.ferozo.com
IMAP_PORT=993
IMAP_USER=andrea.bonhomme@bcousinoprop.com
IMAP_PASSWORD=your_password_here
ZINTO_WEBHOOK_URL=https://crm.zinto.app/api/webhook/trigger/11/a3f037ba3ab44a7b880cc644cc21fb8a
